
.guideMain > h3{
font-size: 21px;
padding-top: 1%;
padding-left:  1%;
letter-spacing: 0.6px;
margin: 0;
background-color: #3454ba;
}

.cards {
  display: flex;
  overflow: auto;
  position: relative;
}
.guideMain, .adminMain, .healthMain, .connectMain, .hobbiesMain, .insertionMain {
   width: 100%;
   height: calc(100vh - 187px);
   background-image: url(../../../../src/img/mainBg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.headerss h3{
   padding-left: 8px;
   padding-top: 8px;
   color: #fff;
}

.headerss{
  background-color: #597e13;
  height: 50px;


}


.guides{
  width: 450px;
  height: 380px;
  display: inline-block;
  margin: 8px;
  margin-left: 5.5%;
  box-shadow: 0 0 5px #ddd;
  border-radius: 15px;
  background-color: #fff;
}

.guides .bouton{
  display: inline-block;
  padding: 0px  20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color:#ff4546;
  color: #fff;
  width: 200px;
  box-shadow: 0px 5px 0px 0px #b9ddec;
  margin-top: 30%;
  margin-left: 19%;
  border-radius: 72px 0px 110px 0px;
  -moz-border-radius: 72px 0px 110px 0px;
  -webkit-border-radius: 72px 0px 110px 0px;
}

.guides .bouton:active {
   transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.guides h4{
  margin: 5%;
}

.guides h3{
  margin: 0;
  color: #000;
  padding-top: 8px;
  text-align: center;
  letter-spacing: 1px;
}
.whereto h3 {
  color: #fff;
}
.housing li button {
  border-radius: 5px;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  width: 10rem;
  background-color: #337ab7;
  color: #fff;

}
ul li button:active {
  transform: translate(0px, 5px);
 -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.guides .whereto{
  background-color: #337ab7;
  border-radius: 15px 15px 0px 0px;
 -moz-border-radius: 15px 15px 0px 0px;
 -webkit-border-radius: 15px 15px 0px 0px;
 height: 60px;
}
@media screen and (min-width: 1280px) and (max-width: 2000){
    .guides{

      margin-left: 11.5%;
    }

  .cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
    .guides{
      width: 330px;
      height: 390px;
    }

}
@media screen and (max-width: 728px) {
    .guides{
      width: 300px;
      height: 350px;
    }
    .guides .bouton{
      font-size: 10px;
      width: 100px;
    }
  .cards {
    flex-direction: column;
  }
}
.modal-guide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
