.mainheader{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 280px;
  }

.face, .twit {
  width: 50px;
  height: 50px;
}

.donate{
    display: inline-block;
  	padding: 18px  20px;
  	text-transform: uppercase;
  	font-size: 15px;
    font-weight: bold;
    top:3%;
    right: 17%;
    text-align: center;
    cursor: pointer;
    background-color:#648721;
    color: #000;
    position: absolute;
    border-radius: 4px;
    width: 160px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.donate:hover{
   background: #83e1fb;
   border-color: #fff;
   color: #fff;


}
