.titling{
  background-color: #83e1fb;
  color: #3e3737;
  height: 50px;
}
.titling h3{
font-size: 21px;
padding-top: 1%;
padding-left:  1%;
letter-spacing: 0.6px;
margin: 0;
}

.guideMain{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   height: auto;
   background-image: url(../../../src/img/ContentBg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.guides{
  width: 380px;
  height: 260px;
  margin: 8px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.guides .bouton{
  display: inline-block;
  padding: 0px  20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color:#ff4546;
  color: #fff;
  width: 180px;
  box-shadow: 0px 5px 0px 0px #b9ddec;
  margin-top: 3%;
  margin-left: 25%;
  border-radius: 72px 0px 110px 0px;
  -moz-border-radius: 72px 0px 110px 0px;
  -webkit-border-radius: 72px 0px 110px 0px;
}

.guides .bouton:active {
   transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.guides h4{
  margin: 5%;
}

.guides h3{
  margin: 0;
  color: #000;
  padding-top: 8px;
  text-align: center;
  letter-spacing: 1px;
}
.whereto h3 {
  color: #fff;
}

.guides .whereto{
  background-color: #648721;
  border-radius: 15px 15px 0px 0px;
 -moz-border-radius: 15px 15px 0px 0px;
 -webkit-border-radius: 15px 15px 0px 0px;
 height: 40px;
}
@media screen and (max-width: 1024px) {
    .guides{
      width: 380px;
      height: 260px;
    }

}
@media screen and (max-width: 640px) {
    .guides{
      width: 300px;
      height: 260px;
    }
    .guides .bouton{
      font-size: 10px;
      width: 100px;
    }

}
.modal-guide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #fff;
    width: 600px;
    height: auto;
    border-radius: 5px;
}
